@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0px;
    z-index: 100;
    left: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 37, 56);
}

header>p {
    color: rgb(233, 233, 233);
    text-transform: lowercase;
    letter-spacing: 0.3ch;
}

header>p.divider {
    margin: 10px;
}

.hero {
    background-color: rgba(26, 45, 69, 1);
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#top-right {
    width: 55.5vh;
    height: 37vh;
    position: absolute;
    top: 0;
    right: 0;
}

#bottom-left {
    width: 49.5vh;
    height: 33vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-text {
    color: white;
    font-size: 45px;
    font-weight: 500;
    margin: 12px;
    z-index: 5;
}

.hero>p {
    color: white;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    z-index: 5;
}

.hero-text>span {
    font-weight: 300;
}

.hero>img {
    height: 100px;
    filter: invert(1);
}

#blog {
    padding: 0 25px;
}

#blog>h2 {
    font-weight: 500;
    font-size: 30px;
    color: rgb(56, 56, 56);
}

.articles {
    padding: 0 25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

article {
    width: 350px;
    margin-right: 15px;
    margin-bottom: 15px;
}

article>img {
    width: 95%;
    height: 225px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.753);
}

article>.info {
    margin-left: 12px;
}

.info>p.category {
    margin-top: 10px;
    margin-bottom: 7px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: auto;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
}

.info>p.category>span {
    position: relative;
}

.info>p.category>span::after {
    content: "";
    background-color: rgba(26, 45, 69, 0.363);
    width: 90%;
    height: 1.5px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.info>p.date {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.info>p.date>svg {
    height: 2ch;
    margin-right: 3px;
    margin-left: -3px;
}

.info>h3 {
    margin-top: 0; 
    margin-bottom: 0;
    font-size: 25px;
    max-height: 2.1ch;
}

@media (max-width: 1000px) {
    .hero {
        height: 375px;
    }

    .hero>p {
        font-size: 15px;
    }

    .hero-text {
        text-align: center;
        font-size: 35px;
    }

    .hero>img {
        margin-top: -15px;
        height: 75px;
    }

    .articles {
        padding: 0 10px;
    }
}