/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
    font-family: 'Emoji';
    src: url(emoji.woff)
}

.st0{fill:none;stroke:#e0e0e0;stroke-width:14;stroke-miterlimit:10;}
.st1{fill:none;stroke:#e0e0e0;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;}

:root {
    font-family: 'Ubuntu Mono', 'Emoji';
    color: white;
    font-size: 20px;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: #222222;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5vw;
    position: relative;
}

header svg {
    height: 7vh;
}

header::after {
    background-color: #535353;
    height: 0.1vh;
    width: 100vw;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

}

li{position: relative;}

.text {
    padding: 0 5vw;
    font-size: 3.4ch;
}

.links {
    padding: 0 5vw;
}

.links a {
    color: white;
    font-size: 2.7ch;
    margin-left: 1vw;
    transition-property: color;
}

.links a:hover {
    color: rgb(207, 207, 207);
    transition: color ease 250ms;
}

.links a:visited {
    color: white;
    font-size: 2.7ch;
    margin-left: 1vw;
    transition-property: color;
}

.lists {
    padding: 0 12vw;
    box-sizing: border-box;
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
}

.list {
    width: 33%;
}

.featured {
    background-size: cover;
    margin: 0 2.5%;
    height: 15vh;
    width: 90%;
    font-size: 3vh;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    backdrop-filter: grayscale(1);
    transition: 500ms ease;
    cursor: pointer;
}

.featured>sub {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vh;
}

.featured>.label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1vh;
}

.featured p {
    margin: 0;
    padding: 0;
    transition: 250ms ease opacity;
}

.label>.subtext {
    font-size: 1.6ch;
}

.featured img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale() blur(1px);
}

.featured:hover img {
    filter: blur(0);
}

.featured:hover p {
    opacity: 0;
}

.featured svg {
    top: 5%;
    right: 5%;
    height: 4vh;
    position: absolute;
    z-index: 2;
    fill: white;
}

.list li, a {
    text-decoration: none;
    color: #d8d8d8;
    margin-bottom: 0.7vh;
    font-size: 3.5vh;
    list-style-type: none;
}

a:visited {
    color: #b3b3b3;
}

a:hover {
    color: white;
}

li>.popup {
    display: none;
}

li:hover>.popup {
    display: block;
}

.popup {
    position: absolute;
    top: 4vh;
    background-color: #535353;
    z-index: 10;
    padding: 2vh;
    border-radius: 4px;
}

.footer {
    position: absolute;
    bottom: 1vh;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #393939;
}

li>p {
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    font-size: 1.3ch;
}

@media screen and (max-width: 1400px) {
    .lists {
        padding: 0 8vw;
    }
}

@media screen and (max-width: 1260px) {
    .list li, a {
        font-size: 3vh;
    }
    .text {
        padding: 0 5vw;
        font-size: 3ch;
    }
}

@media screen and (max-width: 1060px) {
    .list li, a {
        font-size: 3vh;
    }
    .text {
        padding: 0 5vw;
        font-size: 2.5ch;
    }
}

@media screen and (max-width: 760px) {
    .lists {
        flex-direction: column;
        padding: 0;
    }

    .list {
        width: 100%;
    }

    body, html {
        overflow-y: scroll;
    }
}