.st0{fill:none;stroke:#e0e0e0;stroke-width:14;stroke-miterlimit:10;}
.st1{fill:none;stroke:#e0e0e0;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;}

:root {
    font-family: 'Ubuntu Mono';
    color: white;
    font-size: 20px;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: #222222;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5vw;
    position: relative;
}

header svg {
    height: 7vh;
}

header::after {
    background-color: #535353;
    height: 0.1vh;
    width: 100vw;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

}

.text {
    padding: 0 5vw;
    font-size: 3.4ch;
}

.links {
    padding: 0 5vw;
}

.links a {
    color: white;
    font-size: 2.7ch;
    margin-left: 1vw;
    transition-property: color;
}

.links a:hover {
    color: rgb(207, 207, 207);
    transition: color ease 250ms;
}

.links a:visited {
    color: white;
    font-size: 2.7ch;
    margin-left: 1vw;
    transition-property: color;
}