@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

:root {
    font-family: 'Open Sans';
    color: #3c3c3c;
}

.responsive-body {
    margin-left: auto;
    margin-right: auto;
    padding: 0 3vw;
    max-width: 900px;
    margin-bottom: 20px;
}

.markdown-body {
    font-family: 'Open Sans' !important;
}

.markdown-body>ul {
    list-style: square !important;
}

.markdown-body>ol {
    list-style: decimal !important;
}